{% extends 'base.html.twig' %}

{% block title %}CustomerOrder Status: {{ customerOrder.createdAt| date }}{% endblock %}

{% block body %}
    <div class="container">
        <article class="card">
            <header class="card-header"> My Orders / Tracking </header>
            <div class="card-body">
                <h6>Order ID: {{ customerOrder.orderKey }}</h6>
                <p>Address :
                    <br><strong>C/o</strong> : {{ shippingAddress.name }}
                    <br><strong>Street</strong> : {{ shippingAddress.street }}
                    <br><strong>Postal code</strong> : {{ shippingAddress.postCode }}
                    <br><strong>City</strong> : {{ shippingAddress.city }}
                </p>
                <article class="card">
                    <div class="card-body row">
                        <div class="col"> <strong>Estimated Delivery time:</strong> <br>29 nov 2021 </div>
                        <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
                        <div class="col"> <strong>Status:</strong> <br> Picked by the courier </div>
                        <div class="col"> <strong>Tracking #:</strong> <br> BD{{ customerOrder.orderKey}} </div>
                    </div>
                </article>
                <div class="track">
                    <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                    <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                    <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                    <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
                </div>
                <hr>
                <ul class="row">
                    {% for product in customerOrder.products %}
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="https://fakeimg.pl/250x100/ffffff/" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">{{ product.productName }}</p> <span class="text-muted">{{ product.quantity}} </span>
                            </figcaption>
                        </figure>
                    </li>
                    {% endfor %}

                </ul>
                <hr> <a href="{{ path("ecomerce_home") }}" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to homepage</a>
            </div>
        </article>
    </div>
{% endblock %}
